.venv
**/.venv
__pycache__
**/__pycache__
.mypy_cache
**/.mypy_cache
.pytest_cache
**/.pytest_cache
.ruff_cache
**/.ruff_cache
.git
**/.git
.DS_Store
**/.DS_Store
node_modules
**/node_modules
.idea
**/.idea
.vscode
**/.vscode
